pip==22.1.2
matplotlib
numpy
pandas
scikit-learn
scipy
seaborn
altair
shap
xgboost
bayesian-optimization
hyperopt
streamlit
Pillow
glmnet
slickml
plotly
graphviz
keras
tensorflow
streamlit==1.9.2